[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
bountyforge = "9Y6Z41eWLsfc8kY73WLBNeRN1NuiTBuMoADEecXGKnpZ"

[programs.devnet]
bountyforge = "9Y6Z41eWLsfc8kY73WLBNeRN1NuiTBuMoADEecXGKnpZ"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[test]
startup_wait = 10000

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
